<!--Barra de Navegacion-->
<!--<modals></modals>-->
<navbar></navbar>
<div class="container-fluid">
    <div class="row">

        <app-sidebar></app-sidebar>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h1>{{title}}</h1>
          <button class="btn btn-primary">Click Me</button>            <!--<intro></intro>-->
            <!--<app-tables></app-tables>-->
            <i-home></i-home>
            <app-pago-form></app-pago-form>

        </main>
    </div>
</div>