<!doctype html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<!--Barra de Navegacion-->
<% include partials/nav.ejs %>
<% include partials/sidebar.ejs %>
<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <!--Intro-->
        <% include partials/intro.ejs %>
        <!--Tablas-->
        <% include partials/tables.ejs %>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <% include partials/scripts.ejs %>
    </main>
</div>
</body>
</html>
