td.details-control {
    background: url('../../assets/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../assets/details_close.png') no-repeat center center;
}
