<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">Orkaesta</a>
    <input class="form-control form-control-dark w-100" id="searchBar" type="text" placeholder="Search"
           aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a href="#" class="nav-link">Sign out</a>
        </li>
    </ul>
</nav>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Orkaesta</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Salir</a>
        </li>
    </ul>
</nav>
