<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <!--<link rel="icon" type="image/x-icon" sizes="96x96" href="/public/resources/favicon-96x96.png">-->
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/datatables.min.css">
    <link href="../../public/stylesheets/dashboard.css" rel="stylesheet">


    <title>Orcaestra Finanzas</title>
</head>
