<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1" id="dashboard">Dashboard</h1>
    
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" id="btn-collapse-e" 
                    data-target="#collapseEstudiante" aria-expanded="false" aria-controls="collapseEstudiante">
                <span data-feather="user-plus"></span> 
            </button>
            <button class="btn btn-sm btn-outline-secondary" 
            id="btn-collapse-p" type="button" data-toggle="collapse"
                    data-target="#collapsePadre" aria-expanded="false" aria-controls="collapsePadre">
                <span data-feather="user-plus"></span> 
            </button>
            <!--<input type="file" class="inputP" style="display: none" />-->
            <button class="btn btn-sm btn-outline-secondary" id="importarPaola">Importar Planillas</button>

            <input type="file" name="planilla" id="inputP" style="display: none"/>

            <input type="file" name="planilla" id="inputM" style="display: none"/>

            <button class="btn btn-sm btn-outline-secondary" id="importarMarwan">Importar Forms</button>

        </div>
        <!--<button class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
        <!--<span data-feather="calendar.js"></span>-->
        <!--This week-->
        <!--</button>-->
    </div>
</div>

<!--Agregar Nuevo Estudiantes-->
<div class="collapse" id="collapseEstudiante">
    <div class="card card-body">
        <form>
            <!--Agregar Estudiante-->
            <% include forms/estudiante.ejs %>

            <!--Agregar Pago-->
            <% include forms/pago.ejs %>


        </form>
        <div class="row">
            <!--<button class="col-md-5 btn btn-dark" id="agregarEstudiante">Agregar Estudiantes</button>-->
            <div class="col-md-5"></div>

            <button class="col-md-7 btn btn-dark" id="agregarEstudianteNuevo">Agregar Estudiante Nuevo</button>
        </div>
    </div>
</div>
<!--Agregar Nuevo Padre-->
<div class="collapse" id="collapsePadre">
    <div class="card card-body">
        <form>
            <!--Agregar Padre-->
            <% include forms/padre.ejs %>

            <!--Agregar Pago-->
            <% include forms/pago.ejs %>


        </form>
        <div class="row">
            <div class="col-md-5"></div>

            <button class="col-md-7 btn btn-dark" id="agregarRepresentanteNuevo">Agregar Representante Nuevo</button>
        </div>
    </div>
</div>
