<form (ngSubmit)="onSubmit()" #estForm="ngForm">
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre"
          [(ngModel)]="model.nombre" name="nombre">
      </div>
      <div class="form-group col-md-6">
          <label for="apellido">Apellido</label>
          <input autocomplete='family-name' type="text" class="form-control" id="apellido"placeholder="Apellido"
          [(ngModel)]="model.apellido" name="apellido">
      </div>
      <div class="form-group col-md-4">
          <label for="correo">Correo</label>
          <input type="email" class="form-control" id="correo" placeholder="Correo"
          [(ngModel)]="model.email" name="email">
      </div>
      <div class="form-group col-md-4">
          <label for="tlf">Telefono</label>
          <input type="tel" class="form-control" id="tlf" placeholder="Telefono"
            [(ngModel)]="model.tlf" name="tlf">
      </div>
      <div class="form-group col-md-3 col-sm-12">
          <label for="grupo">Grupo</label>
          <select class="form-control custom-select" id="grupo" required
              [(ngModel)]="model.grupo" name="grupo">
              <option *ngFor="let g of grupos" [value]="g">
                  {{g}}
              </option>
          </select>        
      </div>
  </div>
</form>