<div class="form-row">
    <div class="form-group col-md-6">
        <label for="p-nombre">Nombre</label>
        <input type="text" class="form-control" id="p-nombre" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
        <label for="p-apellido">Apellido</label>
        <input autocomplete='family-name' type="text" class="form-control" id="p-apellido"
               placeholder="Apellido">
    </div>
    <div class="form-group col-md-6">
        <label for="email">Correo</label>
        <input type="email" class="form-control" id="p-correo"
               placeholder="Correo">
    </div>
    <div class="form-group col-md-6">
        <label for="p-tlf">Telefono</label>
        <input type="tel" class="form-control" id="p-tlf"
               placeholder="Telefono">
    </div>
</div>
