<div class="form-row">
    <!-- <div id="date-picker" class="form-group "> -->
    <div class="form-group col-md-3 col-sm-12">
        <label class="control-label" for="date">Fecha de Pago</label>
        <input autocomplete="on" class="form-control" id="date" name="date" placeholder="MM/DD/AAAA" type="text" />

    </div>
    <!-- </div>   -->
    <div class="form-group col-md-4 col-sm-12">
        <label for="banco">Banco</label>

        <select class="custom-select" id="banco">
            <option selected>
                <%= bancos[0] %>
            </option>
            <% for ( var i = 1; i < bancos.length; i++ ) { %>
            <option value="<%= i %>">
                <%= bancos[i] %>
            </option>
            <% } %>
        </select>

    </div>
    <div class="form-group col-md-2 col-sm-12">
        <label for="monto">Monto</label>
        <input type="number" class="form-control" id="monto" placeholder="Monto">
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label for="referencia">Referencia</label>
        <input type="text" class="form-control" id="referencia" placeholder="Referencia">
    </div>


</div>