<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">AGREGAR NUEVO
            </button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>
<!--Agregar Nuevo Estudiante-->

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group col-md-4">
                    <label for="apellido">Apellido</label>
                    <input autocomplete='family-name' type="text" class="form-control" id="apellido"
                           placeholder="Apellido">
                </div>
                <div class="form-group col-md-4">
                    <label for="proyecto">Proyecto</label>
                    <select class="custom-select" id="proyecto">
                        <option selected>Inicial</option>
                        <option value="1">Alma llanera</option>
                        <option value="2">Clasico</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="banco">Banco</label>
                    <select class="custom-select" id="banco">
                        <option selected>Inicial</option>
                        <option value="1">Alma llanera</option>
                        <option value="2">Clasico</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="monto">Monto</label>
                    <input type="number" class="form-control" id="monto" placeholder="Monto">
                </div>
                <div class="form-group col-md-3">
                    <label for="referencia">Referencia</label>
                    <input type="text" class="form-control" id="referencia" placeholder="Referencia">
                </div>
                <div id="date-picker" class="form-group col-md-3">
                    <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Date</label>
                        <input autocomplete="off" class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                               type="text"/>
                    </div>
                </div>
            </div>

        </form>
        <div class="row">
            <button class="col-md-5 btn btn-dark" id="agregarEstudiante">Agregar Estudiante</button>
            <div class="col-md-2"></div>

            <button class="col-md-5 btn btn-dark" id="agregarPago">Agregar Pago</button>
        </div>
    </div>
</div>
